link(rel='stylesheet', href='/stylesheets/strip-color.css')
div(class="strip-multi-colors")
			span(class='yellow')
			span(class='orange')
			span(class='red')
			span(class='rose')
			span(class='purple')
			span(class='deep-purple')
			span(class='blue')
			span(class='cyan')
			span(class='light-green')
			span(class='green')