hr(width='90%')
table(class='tableProdutos')
	tr
		td(class='tdProdutos' valign='top' onclick='search("console")')
			img(src='/images/buscas/consoles.jpg' style='width:70%')
			br
			div(class='divProduto')
				div(class='aProduto' ) 
					i(class='aLimitado') Consoles
		td(class='tdProdutos' valign='top' onclick='search("forno")')
			img(src='/images/buscas/fornos.jpg' style='width:70%')
			br
			div(class='divProduto')
				div(class='aProduto' ) 
					i(class='aLimitado') Fornos
		td(class='tdProdutos' valign='top' onclick='search("ventilador")')
			img(src='/images/buscas/ventiladores.jpg' style='width:70%')
			br
			div(class='divProduto')
				div(class='aProduto' ) 
					i(class='aLimitado') Ventiladores
	tr
		td(class='tdProdutos' valign='top' onclick='search("smartphone")')
			img(src='https://c.mlcdn.com.br//iphone-7-red-special-edition-apple-256gb-4g-4.7-cam.-12mp-selfie-7mp-ios-10/v/210x210/218009600.jpg' style='width:70%')
			br
			div(class='divProduto')
				div(class='aProduto' ) 
					i(class='aLimitado') Smartphones
		td(class='tdProdutos' valign='top' onclick='search("tablet")')
			img(src='https://c.mlcdn.com.br//ipad-air-2-apple-128gb-cinza-espacial-tela-9-7-retina-proc.-chip-a8x-cam.-8mp-frontal-ios-10/v/210x210/212675000.jpg' style='width:70%')
			br
			div(class='divProduto')
				div(class='aProduto' ) 
					i(class='aLimitado') Tablet
		td(class='tdProdutos' valign='top' onclick='search("tv")')
			img(src='https://a-static.mlcdn.com.br/618x463/tv-led-40-sony-kdl-40r355b-full-hd-conversor-integrado-2-hdmi-1-usb/magazineluiza/193358500/7c6f6e5f196d123d07d110b379bc120b.jpg' style='width:70%')
			br
			div(class='divProduto')
				div(class='aProduto' ) 
					i(class='aLimitado') TV
script(src='javascript/funcoes.js')
