link(rel='stylesheet', href='/stylesheets/solicitarLocal.css')
div(class='janela' id='divcardapio' style='display:block')
		div(class='efeitojanela')
			table(width='98%')
				tr
					td(style='padding:10px; text-align:left')
						p(class='texto' style='font-size:160%') Erro
		
		div(class='selecionar' id='btn' style='text-align:center')
			p
			p(class='msg') Permita a localização do navegador, e clique em tentar novamente.
			div
				button(type="button" class="btn btn-primary" onclick='window.location.reload()' class='btn') Tentar Novamente