body{
	font-size: 18px;
	height: 100%;
}
html{
	height: 100%;
}
.divMaps{
	width: 30%;
	height: 30%;
	margin-left:5%;
	position:sticky;

}

.divItens{
	max-width: 90%;
	height: 100%;
	margin:0 auto;
}

.tableProdutos{
	width: 100%;
	min-height: 100%;
}

.tdProdutos{
	width:33%;
	height: 30%;
	text-align: center;
	position:relative;
	float:left;
}

hr {
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}

.divProduto{
	margin:0 auto;
	max-width: 400px;
	min-width: 20px;
	margin-bottom: 40px;
}

.tituloItens{
	font-family: Arial;
	color:#0083CA;
	font-size: 120%;
	margin-left: 5%;
}

.aProduto{
	font-weight: bold;
	font-family: Arial;
	font-size:15px;
	max-height: 45px;
	overflow: hidden;
}


.precoProduto{
	font-family: Arial;
	font-weight: bold;	
	color:#0083CA;
	font-size: 17px;
}