extends ../layout
	
block content
	link(rel='stylesheet', href='/stylesheets/index.css')
	
	//Caso haja alguma mensagem de erro, será exibida!
	if messages.erro
		br
		div(class="alert alert-danger")
			each msg in messages.erro
				b= msg
				br

	div(class='divItens')
		if (search)
			if (lista.length > 0)
				i(class='tituloItens') Itens encontrados:
				include components/tabela
				
			else
				i(class='tituloItens') Nenhum item encontrado!
		else
			i(class='tituloItens') Ofertas:
			include components/tabelaOfertas
			
			

	script(src='/javascript/flowtype.js')
	script(type='text/javascript').
		$('.aProduto').flowtype({
			minimum   : 20,
			maximum   : 400,
			minFont   :	12,
			maxFont   : 15,
			fontRatio : 30
		});
		$('.precoProduto').flowtype({
			minimum   : 20,
			maximum   : 200,
			minFont   :	12,
			maxFont   : 15,
			fontRatio : 30
		});

